body{background-image:url("https://pbs.twimg.com/profile_banners/1079552945157398529/1621587832/1500x500");}
h1{color:rgb(253, 255, 182)}
b{color:rgb(160, 196, 255)}
b1{color:rgb(255, 173, 173)}
i{color:rgb(189, 178, 255)}
a{color:rgb(255, 198, 255)}
i{background-color: rgb(255, 255, 252);}
h1{font-family: 'Times New Roman', Times, serif ;}
b1{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
i{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
a{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}