body{background-image:url("https://pbs.twimg.com/profile_banners/1079552945157398529/1621587832/1500x500");}
h1{color:rgb(255, 232, 214)}
b{color:rgb(32, 139, 58)}
b1{color:rgb(255, 232, 214)}
i{color:rgb(208, 0, 0)}
a{color:rgb(16, 69, 29)}
i{background-color: rgb(183, 239, 197);}
b{background-color:rgb(183, 239, 197) ;}
h1{font-family: 'Times New Roman', Times, serif ;}
b1{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
i{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
a{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}