body{background-image:url("https://pbs.twimg.com/profile_banners/1079552945157398529/1621587832/1500x500");}
h1{color:rgb(255, 192, 159)}
b{color:rgb(121, 173, 220)}
b1{color:rgb(173, 247, 182)}
i{color:rgb(255, 238, 147)}
a{color:rgb(255, 198, 255)}
i{background-color: rgb(252, 245, 199);}
h1{font-family: 'Times New Roman', Times, serif ;}
b1{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
i{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
a{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}